USE [master]
GO
/****** Object:  Database [bank_fraud_detection_db]    Script Date: 4/20/2026 6:12:06 PM ******/
CREATE DATABASE [bank_fraud_detection_db]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'bank_fraud_detection_db', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\bank_fraud_detection_db.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'bank_fraud_detection_db_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\bank_fraud_detection_db_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [bank_fraud_detection_db].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [bank_fraud_detection_db]
GO
/****** Object:  User [bfds_emp_sarah]    Script Date: 4/20/2026 6:12:07 PM ******/
CREATE USER [bfds_emp_sarah] FOR LOGIN [bfds_emp_sarah] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [bfds_emp_michael]    Script Date: 4/20/2026 6:12:07 PM ******/
CREATE USER [bfds_emp_michael] FOR LOGIN [bfds_emp_michael] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [bfds_emp_john]    Script Date: 4/20/2026 6:12:07 PM ******/
CREATE USER [bfds_emp_john] FOR LOGIN [bfds_emp_john] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [bfds_emp_david]    Script Date: 4/20/2026 6:12:07 PM ******/
CREATE USER [bfds_emp_david] FOR LOGIN [bfds_emp_david] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [bfds_emp_alice]    Script Date: 4/20/2026 6:12:07 PM ******/
CREATE USER [bfds_emp_alice] FOR LOGIN [bfds_emp_alice] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [bfds_compliance2]    Script Date: 4/20/2026 6:12:07 PM ******/
CREATE USER [bfds_compliance2] FOR LOGIN [bfds_compliance2] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [bfds_compliance1]    Script Date: 4/20/2026 6:12:07 PM ******/
CREATE USER [bfds_compliance1] FOR LOGIN [bfds_compliance1] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [bfds_admin_secondary]    Script Date: 4/20/2026 6:12:07 PM ******/
CREATE USER [bfds_admin_secondary] FOR LOGIN [bfds_admin_secondary] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [bfds_admin_primary]    Script Date: 4/20/2026 6:12:07 PM ******/
CREATE USER [bfds_admin_primary] FOR LOGIN [bfds_admin_primary] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  DatabaseRole [super_admin]    Script Date: 4/20/2026 6:12:07 PM ******/
CREATE ROLE [super_admin]
GO
/****** Object:  DatabaseRole [compliance_officer]    Script Date: 4/20/2026 6:12:07 PM ******/
CREATE ROLE [compliance_officer]
GO
/****** Object:  DatabaseRole [bank_employee]    Script Date: 4/20/2026 6:12:07 PM ******/
CREATE ROLE [bank_employee]
GO
ALTER ROLE [bank_employee] ADD MEMBER [bfds_emp_sarah]
GO
ALTER ROLE [bank_employee] ADD MEMBER [bfds_emp_michael]
GO
ALTER ROLE [bank_employee] ADD MEMBER [bfds_emp_john]
GO
ALTER ROLE [bank_employee] ADD MEMBER [bfds_emp_david]
GO
ALTER ROLE [bank_employee] ADD MEMBER [bfds_emp_alice]
GO
ALTER ROLE [compliance_officer] ADD MEMBER [bfds_compliance2]
GO
ALTER ROLE [compliance_officer] ADD MEMBER [bfds_compliance1]
GO
ALTER ROLE [super_admin] ADD MEMBER [bfds_admin_secondary]
GO
ALTER ROLE [super_admin] ADD MEMBER [bfds_admin_primary]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_GetStructuringRiskScore]    Script Date: 4/20/2026 6:12:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ============================================================
-- PART 1A: SCALAR FUNCTION — fn_GetStructuringRiskScore
-- ============================================================
-- Returns risk score 0.00 – 1.00 based on aggregate-to-threshold
-- ratio and transaction count. Consistent across SP and trigger.
-- ============================================================

CREATE   FUNCTION [dbo].[fn_GetStructuringRiskScore]
(
    @AggregateTotal     DECIMAL(15,2),
    @ThresholdAmount    DECIMAL(15,2),
    @TxnCount           INT
)
RETURNS DECIMAL(4,2)
WITH SCHEMABINDING
AS
BEGIN
    RETURN
        CASE
            WHEN (@AggregateTotal / @ThresholdAmount) >= 2.0
                THEN 1.00
            ELSE
                CAST(
                    ROUND(
                        0.70
                        + (CAST(@TxnCount AS DECIMAL(5,2)) / 100.0)
                        + ((@AggregateTotal - @ThresholdAmount)
                           / (@ThresholdAmount * 10.0))
                    , 2)
                AS DECIMAL(4,2))
        END;
END;

GO
/****** Object:  UserDefinedFunction [dbo].[fn_GetStructuringSeverity]    Script Date: 4/20/2026 6:12:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ============================================================
-- PART 1B: SCALAR FUNCTION — fn_GetStructuringSeverity
-- ============================================================

CREATE   FUNCTION [dbo].[fn_GetStructuringSeverity]
(
    @AggregateTotal     DECIMAL(15,2),
    @ThresholdAmount    DECIMAL(15,2)
)
RETURNS NVARCHAR(20)
WITH SCHEMABINDING
AS
BEGIN
    RETURN
        CASE
            WHEN @AggregateTotal >= (@ThresholdAmount * 2.0) THEN N'CRITICAL'
            WHEN @AggregateTotal >= (@ThresholdAmount * 1.5) THEN N'HIGH'
            WHEN @AggregateTotal >= (@ThresholdAmount * 1.1) THEN N'MEDIUM'
            ELSE                                                   N'LOW'
        END;
END;

GO
/****** Object:  UserDefinedFunction [dbo].[fn_HaversineDistance]    Script Date: 4/20/2026 6:12:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ============================================================
-- PART 1: SCALAR FUNCTION — fn_HaversineDistance
-- ============================================================
-- Returns the great-circle distance in km between two
-- lat/lon coordinate pairs using the Haversine formula.
--
--   a = sin²(Δφ/2) + cos(φ1)·cos(φ2)·sin²(Δλ/2)
--   c = 2 · atan2(√a, √(1−a))
--   d = R · c       (R = 6,371 km Earth mean radius)
-- ============================================================

CREATE   FUNCTION [dbo].[fn_HaversineDistance]
(
    @Lat1  DECIMAL(10,8),
    @Lon1  DECIMAL(11,8),
    @Lat2  DECIMAL(10,8),
    @Lon2  DECIMAL(11,8)
)
RETURNS DECIMAL(12,4)
WITH SCHEMABINDING
AS
BEGIN
    DECLARE @Lat1Rad  FLOAT = CAST(@Lat1 AS FLOAT) * PI() / 180.0;
    DECLARE @Lat2Rad  FLOAT = CAST(@Lat2 AS FLOAT) * PI() / 180.0;
    DECLARE @DeltaLat FLOAT = (CAST(@Lat2 AS FLOAT) - CAST(@Lat1 AS FLOAT)) * PI() / 180.0;
    DECLARE @DeltaLon FLOAT = (CAST(@Lon2 AS FLOAT) - CAST(@Lon1 AS FLOAT)) * PI() / 180.0;

    DECLARE @HavA FLOAT =
          SIN(@DeltaLat / 2.0) * SIN(@DeltaLat / 2.0)
        + COS(@Lat1Rad) * COS(@Lat2Rad)
        * SIN(@DeltaLon / 2.0) * SIN(@DeltaLon / 2.0);

    DECLARE @HavC FLOAT =
        2.0 * ATN2(SQRT(@HavA), SQRT(1.0 - @HavA));

    RETURN CAST(6371.0 * @HavC AS DECIMAL(12,4));
END;

GO
/****** Object:  UserDefinedFunction [dbo].[fn_rls_security_predicate]    Script Date: 4/20/2026 6:12:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ============================================================
-- ROW-LEVEL SECURITY (RLS) SETUP
-- ============================================================

-- Security predicate function
CREATE FUNCTION [dbo].[fn_rls_security_predicate]
    (@role NVARCHAR(50))
RETURNS TABLE
WITH SCHEMABINDING
AS
    RETURN SELECT 1 AS fn_result
    WHERE
        -- Super Admin sees everything
        @role = 'super_admin'
        OR
        -- Compliance Officer sees reports / audit data
        @role = 'compliance_officer'
        OR
        -- Bank Employee sees operational data
        @role = 'bank_employee';

GO
/****** Object:  Table [dbo].[alerts]    Script Date: 4/20/2026 6:12:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[alerts](
	[alert_id] [bigint] IDENTITY(1,1) NOT NULL,
	[transaction_id] [bigint] NULL,
	[card_id] [int] NOT NULL,
	[user_id] [int] NOT NULL,
	[alert_type] [nvarchar](100) NOT NULL,
	[risk_score] [decimal](4, 2) NULL,
	[alert_message] [nvarchar](max) NULL,
	[alert_status] [nvarchar](30) NOT NULL,
	[investigation_notes] [nvarchar](max) NULL,
	[created_at] [datetime2](7) NOT NULL,
	[resolved_at] [datetime2](7) NULL,
 CONSTRAINT [PK_alerts] PRIMARY KEY CLUSTERED 
(
	[alert_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[authentication]    Script Date: 4/20/2026 6:12:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[authentication](
	[auth_id] [int] IDENTITY(1,1) NOT NULL,
	[employee_id] [nvarchar](50) NOT NULL,
	[username] [nvarchar](100) NOT NULL,
	[password_hash] [nvarchar](256) NOT NULL,
	[salt] [nvarchar](64) NOT NULL,
	[role] [nvarchar](50) NOT NULL,
	[is_active] [bit] NOT NULL,
	[email] [nvarchar](150) NULL,
	[phone] [nvarchar](20) NULL,
	[mfa_enabled] [bit] NOT NULL,
	[mfa_secret_hash] [nvarchar](256) NULL,
	[last_login_at] [datetime2](7) NULL,
	[last_login_ip] [nvarchar](45) NULL,
	[failed_attempts] [int] NOT NULL,
	[locked_until] [datetime2](7) NULL,
	[password_changed_at] [datetime2](7) NULL,
	[must_change_password] [bit] NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NULL,
	[deactivated_at] [datetime2](7) NULL,
 CONSTRAINT [PK_authentication] PRIMARY KEY CLUSTERED 
(
	[auth_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UK_auth_email] UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UK_auth_employee_id] UNIQUE NONCLUSTERED 
(
	[employee_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UK_auth_username] UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[authentication_audit_log]    Script Date: 4/20/2026 6:12:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[authentication_audit_log](
	[log_id] [bigint] IDENTITY(1,1) NOT NULL,
	[auth_id] [int] NULL,
	[employee_id] [nvarchar](50) NULL,
	[username_attempted] [nvarchar](100) NOT NULL,
	[event_type] [nvarchar](50) NOT NULL,
	[login_status] [nvarchar](20) NOT NULL,
	[failure_reason] [nvarchar](100) NULL,
	[session_token_hash] [nvarchar](256) NULL,
	[session_expires_at] [datetime2](7) NULL,
	[ip_address] [nvarchar](45) NULL,
	[user_agent] [nvarchar](500) NULL,
	[device_fingerprint] [nvarchar](256) NULL,
	[geo_country] [nvarchar](2) NULL,
	[geo_city] [nvarchar](100) NULL,
	[mfa_used] [bit] NOT NULL,
	[mfa_outcome] [nvarchar](20) NULL,
	[event_timestamp] [datetime2](7) NOT NULL,
	[notes] [nvarchar](max) NULL,
 CONSTRAINT [PK_auth_audit_log] PRIMARY KEY CLUSTERED 
(
	[log_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cards]    Script Date: 4/20/2026 6:12:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cards](
	[card_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[card_type] [nvarchar](20) NOT NULL,
	[card_number_hash] [nvarchar](256) NOT NULL,
	[last_four_digits] [nvarchar](4) NULL,
	[expiry_date] [date] NULL,
	[card_status] [nvarchar](20) NOT NULL,
	[issued_date] [datetime2](7) NOT NULL,
	[reported_lost_at] [datetime2](7) NULL,
	[daily_limit] [decimal](10, 2) NULL,
	[monthly_limit] [decimal](10, 2) NULL,
 CONSTRAINT [PK_cards] PRIMARY KEY CLUSTERED 
(
	[card_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UK_cards_hash] UNIQUE NONCLUSTERED 
(
	[card_number_hash] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[merchants]    Script Date: 4/20/2026 6:12:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[merchants](
	[merchant_id] [int] IDENTITY(1,1) NOT NULL,
	[merchant_name] [nvarchar](255) NOT NULL,
	[merchant_category_code] [nvarchar](10) NULL,
	[mcc_description] [nvarchar](255) NULL,
	[country_iso_code] [nvarchar](2) NULL,
	[risk_score] [decimal](3, 2) NOT NULL,
	[is_blacklisted] [bit] NOT NULL,
	[fraud_report_count] [int] NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_merchants] PRIMARY KEY CLUSTERED 
(
	[merchant_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[transaction_audit_log]    Script Date: 4/20/2026 6:12:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[transaction_audit_log](
	[audit_id] [bigint] IDENTITY(1,1) NOT NULL,
	[transaction_id] [bigint] NOT NULL,
	[previous_status] [nvarchar](50) NULL,
	[new_status] [nvarchar](50) NULL,
	[changed_by] [nvarchar](255) NULL,
	[changed_at] [datetime2](7) NOT NULL,
	[change_reason] [nvarchar](max) NULL,
 CONSTRAINT [PK_transaction_audit_log] PRIMARY KEY CLUSTERED 
(
	[audit_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[transactions]    Script Date: 4/20/2026 6:12:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[transactions](
	[transaction_id] [bigint] IDENTITY(1,1) NOT NULL,
	[card_id] [int] NOT NULL,
	[merchant_id] [int] NOT NULL,
	[user_id] [int] NOT NULL,
	[transaction_amount] [decimal](15, 2) NOT NULL,
	[currency_code] [nvarchar](3) NOT NULL,
	[transaction_timestamp] [datetime2](7) NOT NULL,
	[merchant_country] [nvarchar](2) NULL,
	[customer_country] [nvarchar](2) NULL,
	[merchant_mcc] [nvarchar](10) NULL,
	[transaction_status] [nvarchar](20) NOT NULL,
	[is_online] [bit] NULL,
	[device_id] [nvarchar](255) NULL,
	[ip_address] [nvarchar](45) NULL,
	[latitude] [decimal](10, 8) NULL,
	[longitude] [decimal](11, 8) NULL,
 CONSTRAINT [PK_transactions] PRIMARY KEY CLUSTERED 
(
	[transaction_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[user_devices]    Script Date: 4/20/2026 6:12:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user_devices](
	[device_id] [nvarchar](255) NOT NULL,
	[user_id] [int] NOT NULL,
	[device_type] [nvarchar](50) NULL,
	[device_name] [nvarchar](255) NULL,
	[os_type] [nvarchar](50) NULL,
	[first_seen] [datetime2](7) NOT NULL,
	[last_seen] [datetime2](7) NULL,
	[is_trusted] [bit] NOT NULL,
 CONSTRAINT [PK_user_devices] PRIMARY KEY CLUSTERED 
(
	[device_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[user_known_locations]    Script Date: 4/20/2026 6:12:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user_known_locations](
	[location_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[city] [nvarchar](100) NULL,
	[country_iso_code] [nvarchar](2) NULL,
	[latitude] [decimal](10, 8) NULL,
	[longitude] [decimal](11, 8) NULL,
	[last_transaction_at] [datetime2](7) NULL,
	[frequency_count] [int] NOT NULL,
 CONSTRAINT [PK_user_known_locations] PRIMARY KEY CLUSTERED 
(
	[location_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UK_user_known_locations_loc] UNIQUE NONCLUSTERED 
(
	[user_id] ASC,
	[city] ASC,
	[country_iso_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 4/20/2026 6:12:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[user_id] [int] IDENTITY(1,1) NOT NULL,
	[first_name] [nvarchar](100) NULL,
	[last_name] [nvarchar](100) NULL,
	[email] [nvarchar](150) NOT NULL,
	[phone] [nvarchar](20) NULL,
	[account_created_at] [datetime2](7) NOT NULL,
	[account_status] [nvarchar](20) NOT NULL,
	[risk_profile] [nvarchar](20) NOT NULL,
	[country_iso_code] [nvarchar](2) NULL,
	[registration_ip_address] [nvarchar](45) NULL,
 CONSTRAINT [PK_users] PRIMARY KEY CLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UK_users_email] UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  SecurityPolicy [dbo].[AlertsAccessPolicy]    Script Date: 4/20/2026 6:12:08 PM ******/
CREATE SECURITY POLICY [dbo].[AlertsAccessPolicy] 
ADD FILTER PREDICATE [dbo].[fn_rls_security_predicate](suser_sname()) ON [dbo].[alerts]
WITH (STATE = OFF, SCHEMABINDING = ON)
GO
/****** Object:  Index [idx_alerts_created_at]    Script Date: 4/20/2026 6:12:08 PM ******/
CREATE NONCLUSTERED INDEX [idx_alerts_created_at] ON [dbo].[alerts]
(
	[created_at] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_alerts_status]    Script Date: 4/20/2026 6:12:08 PM ******/
CREATE NONCLUSTERED INDEX [idx_alerts_status] ON [dbo].[alerts]
(
	[alert_status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_alerts_type]    Script Date: 4/20/2026 6:12:08 PM ******/
CREATE NONCLUSTERED INDEX [idx_alerts_type] ON [dbo].[alerts]
(
	[alert_type] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_alerts_user_created]    Script Date: 4/20/2026 6:12:08 PM ******/
CREATE NONCLUSTERED INDEX [idx_alerts_user_created] ON [dbo].[alerts]
(
	[user_id] ASC,
	[created_at] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_auth_employee_id]    Script Date: 4/20/2026 6:12:08 PM ******/
CREATE NONCLUSTERED INDEX [idx_auth_employee_id] ON [dbo].[authentication]
(
	[employee_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_auth_is_active]    Script Date: 4/20/2026 6:12:08 PM ******/
CREATE NONCLUSTERED INDEX [idx_auth_is_active] ON [dbo].[authentication]
(
	[is_active] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_auth_locked]    Script Date: 4/20/2026 6:12:08 PM ******/
CREATE NONCLUSTERED INDEX [idx_auth_locked] ON [dbo].[authentication]
(
	[locked_until] ASC
)
WHERE ([locked_until] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_auth_role]    Script Date: 4/20/2026 6:12:08 PM ******/
CREATE NONCLUSTERED INDEX [idx_auth_role] ON [dbo].[authentication]
(
	[role] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_auth_username]    Script Date: 4/20/2026 6:12:08 PM ******/
CREATE NONCLUSTERED INDEX [idx_auth_username] ON [dbo].[authentication]
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_aal_auth_id]    Script Date: 4/20/2026 6:12:08 PM ******/
CREATE NONCLUSTERED INDEX [idx_aal_auth_id] ON [dbo].[authentication_audit_log]
(
	[auth_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_aal_employee_id]    Script Date: 4/20/2026 6:12:08 PM ******/
CREATE NONCLUSTERED INDEX [idx_aal_employee_id] ON [dbo].[authentication_audit_log]
(
	[employee_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_aal_event_ts]    Script Date: 4/20/2026 6:12:08 PM ******/
CREATE NONCLUSTERED INDEX [idx_aal_event_ts] ON [dbo].[authentication_audit_log]
(
	[event_timestamp] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_aal_event_type]    Script Date: 4/20/2026 6:12:08 PM ******/
CREATE NONCLUSTERED INDEX [idx_aal_event_type] ON [dbo].[authentication_audit_log]
(
	[event_type] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_aal_ip_address]    Script Date: 4/20/2026 6:12:08 PM ******/
CREATE NONCLUSTERED INDEX [idx_aal_ip_address] ON [dbo].[authentication_audit_log]
(
	[ip_address] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_aal_login_status]    Script Date: 4/20/2026 6:12:08 PM ******/
CREATE NONCLUSTERED INDEX [idx_aal_login_status] ON [dbo].[authentication_audit_log]
(
	[login_status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_aal_status_ts]    Script Date: 4/20/2026 6:12:08 PM ******/
CREATE NONCLUSTERED INDEX [idx_aal_status_ts] ON [dbo].[authentication_audit_log]
(
	[login_status] ASC,
	[event_timestamp] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_aal_user_ts]    Script Date: 4/20/2026 6:12:08 PM ******/
CREATE NONCLUSTERED INDEX [idx_aal_user_ts] ON [dbo].[authentication_audit_log]
(
	[auth_id] ASC,
	[event_timestamp] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_cards_card_status]    Script Date: 4/20/2026 6:12:08 PM ******/
CREATE NONCLUSTERED INDEX [idx_cards_card_status] ON [dbo].[cards]
(
	[card_status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_cards_user_id]    Script Date: 4/20/2026 6:12:08 PM ******/
CREATE NONCLUSTERED INDEX [idx_cards_user_id] ON [dbo].[cards]
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_merchants_blacklisted]    Script Date: 4/20/2026 6:12:08 PM ******/
CREATE NONCLUSTERED INDEX [idx_merchants_blacklisted] ON [dbo].[merchants]
(
	[is_blacklisted] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_merchants_mcc]    Script Date: 4/20/2026 6:12:08 PM ******/
CREATE NONCLUSTERED INDEX [idx_merchants_mcc] ON [dbo].[merchants]
(
	[merchant_category_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_audit_changed]    Script Date: 4/20/2026 6:12:08 PM ******/
CREATE NONCLUSTERED INDEX [idx_audit_changed] ON [dbo].[transaction_audit_log]
(
	[changed_at] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_audit_txn_id]    Script Date: 4/20/2026 6:12:08 PM ******/
CREATE NONCLUSTERED INDEX [idx_audit_txn_id] ON [dbo].[transaction_audit_log]
(
	[transaction_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_txn_card_timestamp]    Script Date: 4/20/2026 6:12:08 PM ******/
CREATE NONCLUSTERED INDEX [idx_txn_card_timestamp] ON [dbo].[transactions]
(
	[card_id] ASC,
	[transaction_timestamp] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_txn_ip]    Script Date: 4/20/2026 6:12:08 PM ******/
CREATE NONCLUSTERED INDEX [idx_txn_ip] ON [dbo].[transactions]
(
	[ip_address] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_txn_merchant]    Script Date: 4/20/2026 6:12:08 PM ******/
CREATE NONCLUSTERED INDEX [idx_txn_merchant] ON [dbo].[transactions]
(
	[merchant_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_txn_timestamp]    Script Date: 4/20/2026 6:12:08 PM ******/
CREATE NONCLUSTERED INDEX [idx_txn_timestamp] ON [dbo].[transactions]
(
	[transaction_timestamp] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_txn_user_timestamp]    Script Date: 4/20/2026 6:12:08 PM ******/
CREATE NONCLUSTERED INDEX [idx_txn_user_timestamp] ON [dbo].[transactions]
(
	[user_id] ASC,
	[transaction_timestamp] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_user_devices_user_id]    Script Date: 4/20/2026 6:12:08 PM ******/
CREATE NONCLUSTERED INDEX [idx_user_devices_user_id] ON [dbo].[user_devices]
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_known_locations_user]    Script Date: 4/20/2026 6:12:08 PM ******/
CREATE NONCLUSTERED INDEX [idx_known_locations_user] ON [dbo].[user_known_locations]
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_users_account_status]    Script Date: 4/20/2026 6:12:08 PM ******/
CREATE NONCLUSTERED INDEX [idx_users_account_status] ON [dbo].[users]
(
	[account_status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_users_email]    Script Date: 4/20/2026 6:12:08 PM ******/
CREATE NONCLUSTERED INDEX [idx_users_email] ON [dbo].[users]
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[alerts] ADD  DEFAULT ('open') FOR [alert_status]
GO
ALTER TABLE [dbo].[alerts] ADD  DEFAULT (getutcdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[authentication] ADD  DEFAULT ('bank_employee') FOR [role]
GO
ALTER TABLE [dbo].[authentication] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[authentication] ADD  DEFAULT ((0)) FOR [mfa_enabled]
GO
ALTER TABLE [dbo].[authentication] ADD  DEFAULT ((0)) FOR [failed_attempts]
GO
ALTER TABLE [dbo].[authentication] ADD  DEFAULT ((0)) FOR [must_change_password]
GO
ALTER TABLE [dbo].[authentication] ADD  DEFAULT (getutcdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[authentication_audit_log] ADD  DEFAULT ((0)) FOR [mfa_used]
GO
ALTER TABLE [dbo].[authentication_audit_log] ADD  DEFAULT (getutcdate()) FOR [event_timestamp]
GO
ALTER TABLE [dbo].[cards] ADD  DEFAULT ('active') FOR [card_status]
GO
ALTER TABLE [dbo].[cards] ADD  DEFAULT (getutcdate()) FOR [issued_date]
GO
ALTER TABLE [dbo].[merchants] ADD  DEFAULT ((0.00)) FOR [risk_score]
GO
ALTER TABLE [dbo].[merchants] ADD  DEFAULT ((0)) FOR [is_blacklisted]
GO
ALTER TABLE [dbo].[merchants] ADD  DEFAULT ((0)) FOR [fraud_report_count]
GO
ALTER TABLE [dbo].[merchants] ADD  DEFAULT (getutcdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[transaction_audit_log] ADD  DEFAULT (getutcdate()) FOR [changed_at]
GO
ALTER TABLE [dbo].[transactions] ADD  DEFAULT ('USD') FOR [currency_code]
GO
ALTER TABLE [dbo].[transactions] ADD  DEFAULT (getutcdate()) FOR [transaction_timestamp]
GO
ALTER TABLE [dbo].[transactions] ADD  DEFAULT ('completed') FOR [transaction_status]
GO
ALTER TABLE [dbo].[user_devices] ADD  DEFAULT (getutcdate()) FOR [first_seen]
GO
ALTER TABLE [dbo].[user_devices] ADD  DEFAULT ((0)) FOR [is_trusted]
GO
ALTER TABLE [dbo].[user_known_locations] ADD  DEFAULT ((1)) FOR [frequency_count]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT (getutcdate()) FOR [account_created_at]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT ('active') FOR [account_status]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT ('low') FOR [risk_profile]
GO
ALTER TABLE [dbo].[alerts]  WITH CHECK ADD  CONSTRAINT [FK_alerts_cards] FOREIGN KEY([card_id])
REFERENCES [dbo].[cards] ([card_id])
GO
ALTER TABLE [dbo].[alerts] CHECK CONSTRAINT [FK_alerts_cards]
GO
ALTER TABLE [dbo].[alerts]  WITH CHECK ADD  CONSTRAINT [FK_alerts_transactions] FOREIGN KEY([transaction_id])
REFERENCES [dbo].[transactions] ([transaction_id])
GO
ALTER TABLE [dbo].[alerts] CHECK CONSTRAINT [FK_alerts_transactions]
GO
ALTER TABLE [dbo].[alerts]  WITH CHECK ADD  CONSTRAINT [FK_alerts_users] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[alerts] CHECK CONSTRAINT [FK_alerts_users]
GO
ALTER TABLE [dbo].[authentication_audit_log]  WITH CHECK ADD  CONSTRAINT [FK_audit_log_auth] FOREIGN KEY([auth_id])
REFERENCES [dbo].[authentication] ([auth_id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[authentication_audit_log] CHECK CONSTRAINT [FK_audit_log_auth]
GO
ALTER TABLE [dbo].[cards]  WITH CHECK ADD  CONSTRAINT [FK_cards_users] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([user_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[cards] CHECK CONSTRAINT [FK_cards_users]
GO
ALTER TABLE [dbo].[transaction_audit_log]  WITH CHECK ADD  CONSTRAINT [FK_audit_log_transactions] FOREIGN KEY([transaction_id])
REFERENCES [dbo].[transactions] ([transaction_id])
GO
ALTER TABLE [dbo].[transaction_audit_log] CHECK CONSTRAINT [FK_audit_log_transactions]
GO
ALTER TABLE [dbo].[transactions]  WITH CHECK ADD  CONSTRAINT [FK_transactions_cards] FOREIGN KEY([card_id])
REFERENCES [dbo].[cards] ([card_id])
GO
ALTER TABLE [dbo].[transactions] CHECK CONSTRAINT [FK_transactions_cards]
GO
ALTER TABLE [dbo].[transactions]  WITH CHECK ADD  CONSTRAINT [FK_transactions_merchants] FOREIGN KEY([merchant_id])
REFERENCES [dbo].[merchants] ([merchant_id])
GO
ALTER TABLE [dbo].[transactions] CHECK CONSTRAINT [FK_transactions_merchants]
GO
ALTER TABLE [dbo].[transactions]  WITH CHECK ADD  CONSTRAINT [FK_transactions_users] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[transactions] CHECK CONSTRAINT [FK_transactions_users]
GO
ALTER TABLE [dbo].[user_devices]  WITH CHECK ADD  CONSTRAINT [FK_user_devices_users] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([user_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[user_devices] CHECK CONSTRAINT [FK_user_devices_users]
GO
ALTER TABLE [dbo].[user_known_locations]  WITH CHECK ADD  CONSTRAINT [FK_known_locations_users] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([user_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[user_known_locations] CHECK CONSTRAINT [FK_known_locations_users]
GO
ALTER TABLE [dbo].[alerts]  WITH CHECK ADD  CONSTRAINT [CHK_alerts_status] CHECK  (([alert_status]='confirmed_fraud' OR [alert_status]='false_positive' OR [alert_status]='acknowledged' OR [alert_status]='open'))
GO
ALTER TABLE [dbo].[alerts] CHECK CONSTRAINT [CHK_alerts_status]
GO
ALTER TABLE [dbo].[alerts]  WITH CHECK ADD  CONSTRAINT [CHK_alerts_type] CHECK  (([alert_type]='other' OR [alert_type]='unknown_device' OR [alert_type]='velocity_breach' OR [alert_type]='high_risk_mcc' OR [alert_type]='blacklisted_merchant' OR [alert_type]='structuring_aml' OR [alert_type]='impossible_travel'))
GO
ALTER TABLE [dbo].[alerts] CHECK CONSTRAINT [CHK_alerts_type]
GO
ALTER TABLE [dbo].[authentication]  WITH CHECK ADD  CONSTRAINT [CHK_auth_active_deact] CHECK  (([is_active]=(1) OR [deactivated_at] IS NOT NULL))
GO
ALTER TABLE [dbo].[authentication] CHECK CONSTRAINT [CHK_auth_active_deact]
GO
ALTER TABLE [dbo].[authentication]  WITH CHECK ADD  CONSTRAINT [CHK_auth_failed_attempts] CHECK  (([failed_attempts]>=(0)))
GO
ALTER TABLE [dbo].[authentication] CHECK CONSTRAINT [CHK_auth_failed_attempts]
GO
ALTER TABLE [dbo].[authentication]  WITH CHECK ADD  CONSTRAINT [CHK_auth_role] CHECK  (([role]='bank_employee' OR [role]='compliance_officer' OR [role]='super_admin'))
GO
ALTER TABLE [dbo].[authentication] CHECK CONSTRAINT [CHK_auth_role]
GO
ALTER TABLE [dbo].[authentication_audit_log]  WITH CHECK ADD  CONSTRAINT [CHK_audit_event_type] CHECK  (([event_type]='forced_logout' OR [event_type]='inactive_account' OR [event_type]='username_not_found' OR [event_type]='mfa_failure' OR [event_type]='mfa_success' OR [event_type]='password_changed' OR [event_type]='session_expired' OR [event_type]='logout' OR [event_type]='account_unlocked' OR [event_type]='account_locked' OR [event_type]='login_failure' OR [event_type]='login_success'))
GO
ALTER TABLE [dbo].[authentication_audit_log] CHECK CONSTRAINT [CHK_audit_event_type]
GO
ALTER TABLE [dbo].[authentication_audit_log]  WITH CHECK ADD  CONSTRAINT [CHK_audit_login_status] CHECK  (([login_status]='failure' OR [login_status]='success'))
GO
ALTER TABLE [dbo].[authentication_audit_log] CHECK CONSTRAINT [CHK_audit_login_status]
GO
ALTER TABLE [dbo].[authentication_audit_log]  WITH CHECK ADD  CONSTRAINT [CHK_audit_mfa_outcome] CHECK  (([mfa_outcome]='skipped' OR [mfa_outcome]='failed' OR [mfa_outcome]='passed' OR [mfa_outcome] IS NULL))
GO
ALTER TABLE [dbo].[authentication_audit_log] CHECK CONSTRAINT [CHK_audit_mfa_outcome]
GO
ALTER TABLE [dbo].[cards]  WITH CHECK ADD  CONSTRAINT [CHK_cards_status] CHECK  (([card_status]='expired' OR [card_status]='blocked' OR [card_status]='active'))
GO
ALTER TABLE [dbo].[cards] CHECK CONSTRAINT [CHK_cards_status]
GO
ALTER TABLE [dbo].[cards]  WITH CHECK ADD  CONSTRAINT [CHK_cards_type] CHECK  (([card_type]='prepaid' OR [card_type]='credit' OR [card_type]='debit'))
GO
ALTER TABLE [dbo].[cards] CHECK CONSTRAINT [CHK_cards_type]
GO
ALTER TABLE [dbo].[merchants]  WITH CHECK ADD  CONSTRAINT [CHK_merchants_risk] CHECK  (([risk_score]>=(0.00) AND [risk_score]<=(1.00)))
GO
ALTER TABLE [dbo].[merchants] CHECK CONSTRAINT [CHK_merchants_risk]
GO
ALTER TABLE [dbo].[transactions]  WITH CHECK ADD  CONSTRAINT [CHK_transactions_amount] CHECK  (([transaction_amount]>(0)))
GO
ALTER TABLE [dbo].[transactions] CHECK CONSTRAINT [CHK_transactions_amount]
GO
ALTER TABLE [dbo].[transactions]  WITH CHECK ADD  CONSTRAINT [CHK_transactions_status] CHECK  (([transaction_status]='reversed' OR [transaction_status]='declined' OR [transaction_status]='pending' OR [transaction_status]='completed'))
GO
ALTER TABLE [dbo].[transactions] CHECK CONSTRAINT [CHK_transactions_status]
GO
ALTER TABLE [dbo].[user_devices]  WITH CHECK ADD  CONSTRAINT [CHK_device_type] CHECK  (([device_type]='unknown' OR [device_type]='desktop' OR [device_type]='tablet' OR [device_type]='laptop' OR [device_type]='mobile'))
GO
ALTER TABLE [dbo].[user_devices] CHECK CONSTRAINT [CHK_device_type]
GO
ALTER TABLE [dbo].[users]  WITH CHECK ADD  CONSTRAINT [CHK_users_risk] CHECK  (([risk_profile]='high' OR [risk_profile]='medium' OR [risk_profile]='low'))
GO
ALTER TABLE [dbo].[users] CHECK CONSTRAINT [CHK_users_risk]
GO
ALTER TABLE [dbo].[users]  WITH CHECK ADD  CONSTRAINT [CHK_users_status] CHECK  (([account_status]='closed' OR [account_status]='suspended' OR [account_status]='active'))
GO
ALTER TABLE [dbo].[users] CHECK CONSTRAINT [CHK_users_status]
GO
/****** Object:  StoredProcedure [dbo].[usp_DetectGeoImpossibility]    Script Date: 4/20/2026 6:12:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ============================================================
-- PART 2: STORED PROCEDURE — usp_DetectGeoImpossibility
-- ============================================================
-- Receives the newly inserted transaction details as INPUT
-- parameters. Locates the user's most recent prior transaction
-- with coordinates, calculates distance via fn_HaversineDistance,
-- computes required travel speed, and determines violation.
--
-- All results are returned through OUTPUT parameters so the
-- trigger can call this cleanly without result-set conflicts.
-- ============================================================

CREATE   PROCEDURE [dbo].[usp_DetectGeoImpossibility]
    -- ── INPUTS ──────────────────────────────────────────────
    @NewTransactionID   BIGINT,
    @NewUserID          INT,
    @NewCardID          INT,
    @NewLat             DECIMAL(10,8),
    @NewLon             DECIMAL(11,8),
    @NewTimestamp       DATETIME2,
    @NewIPAddress       NVARCHAR(45),
    @MaxSpeedKmh        DECIMAL(10,2)   = 900.00,

    -- ── OUTPUTS ─────────────────────────────────────────────
    @ViolationFound     BIT             OUTPUT,
    @DistanceKm         DECIMAL(12,4)   OUTPUT,
    @RequiredSpeedKmh   DECIMAL(12,4)   OUTPUT,
    @TimeDiffMinutes    DECIMAL(10,2)   OUTPUT,
    @SpeedRatio         DECIMAL(10,2)   OUTPUT,
    @RiskScore          DECIMAL(4,2)    OUTPUT,
    @SeverityLevel      NVARCHAR(20)    OUTPUT,
    @AlertMessage       NVARCHAR(MAX)   OUTPUT,
    @InvestigationNotes NVARCHAR(MAX)   OUTPUT,
    @PrevTransactionID  BIGINT          OUTPUT,
    @PrevLat            DECIMAL(10,8)   OUTPUT,
    @PrevLon            DECIMAL(11,8)   OUTPUT,
    @PrevTimestamp      DATETIME2       OUTPUT,
    @PrevIPAddress      NVARCHAR(45)    OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    -- ── Initialise all OUTPUTs to safe defaults ──────────────
    SET @ViolationFound     = 0;
    SET @DistanceKm         = 0.00;
    SET @RequiredSpeedKmh   = 0.00;
    SET @TimeDiffMinutes    = 0.00;
    SET @SpeedRatio         = 0.00;
    SET @RiskScore          = 0.00;
    SET @SeverityLevel      = 'NONE';
    SET @AlertMessage       = NULL;
    SET @InvestigationNotes = NULL;
    SET @PrevTransactionID  = NULL;
    SET @PrevLat            = NULL;
    SET @PrevLon            = NULL;
    SET @PrevTimestamp      = NULL;
    SET @PrevIPAddress      = NULL;

    -- ── GUARD 1: Coordinates required ───────────────────────
    IF @NewLat IS NULL OR @NewLon IS NULL
    BEGIN
        PRINT 'usp_DetectGeoImpossibility: Skipped — new transaction has no coordinates.';
        RETURN;
    END

    -- ── STEP 1: Find most recent prior transaction with coordinates ──
    -- Excludes already-declined transactions to avoid chaining.
    SELECT TOP 1
        @PrevTransactionID = transaction_id,
        @PrevLat           = latitude,
        @PrevLon           = longitude,
        @PrevTimestamp     = transaction_timestamp,
        @PrevIPAddress     = ip_address
    FROM   dbo.transactions
    WHERE  user_id               =  @NewUserID
      AND  transaction_id        <> @NewTransactionID
      AND  latitude              IS NOT NULL
      AND  longitude             IS NOT NULL
      AND  transaction_status    NOT IN ('declined', 'reversed')
      AND  transaction_timestamp <  @NewTimestamp
    ORDER  BY transaction_timestamp DESC;

    -- ── GUARD 2: Must have a prior point to compare ──────────
    IF @PrevTransactionID IS NULL
    BEGIN
        PRINT 'usp_DetectGeoImpossibility: Skipped — no prior transaction with coordinates.';
        RETURN;
    END

    -- ── STEP 2: Time difference ──────────────────────────────
    DECLARE @TimeDiffSeconds DECIMAL(18,6);
    DECLARE @TimeDiffHours   DECIMAL(18,6);

    SET @TimeDiffSeconds = CAST(
        DATEDIFF(SECOND, @PrevTimestamp, @NewTimestamp)
    AS DECIMAL(18,6));

    IF @TimeDiffSeconds <= 0
        SET @TimeDiffSeconds = 1.0;          -- prevent division by zero

    SET @TimeDiffHours   = @TimeDiffSeconds / 3600.0;
    SET @TimeDiffMinutes = CAST(@TimeDiffSeconds / 60.0 AS DECIMAL(10,2));

    -- ── STEP 3: Haversine distance ───────────────────────────
    SET @DistanceKm = dbo.fn_HaversineDistance(
        @PrevLat, @PrevLon, @NewLat, @NewLon
    );

    -- ── STEP 4: Required travel speed ────────────────────────
    SET @RequiredSpeedKmh = CAST(
        @DistanceKm / CAST(@TimeDiffHours AS DECIMAL(18,6))
    AS DECIMAL(12,4));

    -- ── STEP 5: Compare against threshold ────────────────────
    IF @RequiredSpeedKmh <= @MaxSpeedKmh
        RETURN;                              -- clean — no violation

    -- ── STEP 6: VIOLATION CONFIRMED — compute risk metrics ───
    SET @ViolationFound = 1;
    SET @SpeedRatio     = CAST(@RequiredSpeedKmh / @MaxSpeedKmh AS DECIMAL(10,2));

    SET @RiskScore =
        CASE
            WHEN @SpeedRatio >= 5.0 THEN 1.00
            WHEN @SpeedRatio >= 3.0 THEN 0.97
            WHEN @SpeedRatio >= 2.0 THEN 0.93
            WHEN @SpeedRatio >= 1.5 THEN 0.87
            ELSE CAST(ROUND(0.70 + ((@SpeedRatio - 1.0) * 0.20), 2) AS DECIMAL(4,2))
        END;

    SET @SeverityLevel =
        CASE
            WHEN @SpeedRatio >= 5.0 THEN 'CRITICAL'
            WHEN @SpeedRatio >= 2.0 THEN 'HIGH'
            WHEN @SpeedRatio >= 1.5 THEN 'MEDIUM'
            ELSE                         'LOW'
        END;

    -- ── STEP 7: Build alert message & investigation notes ────
    SET @AlertMessage =
        'IMPOSSIBLE TRAVEL | user_id: '      + CAST(@NewUserID AS NVARCHAR(20))
        + ' | txn_id: '                      + CAST(@NewTransactionID AS NVARCHAR(20))
        + ' | Distance: '                    + CAST(@DistanceKm AS NVARCHAR(20))             + ' km'
        + ' | Time Gap: '                    + CAST(@TimeDiffMinutes AS NVARCHAR(20))         + ' mins'
        + ' | Req. Speed: '                  + CAST(CAST(@RequiredSpeedKmh AS INT) AS NVARCHAR(20)) + ' km/h'
        + ' | Threshold: '                   + CAST(CAST(@MaxSpeedKmh AS INT)   AS NVARCHAR(20)) + ' km/h'
        + ' | Speed Ratio: '                 + CAST(@SpeedRatio AS NVARCHAR(20))              + 'x'
        + ' | Risk Score: '                  + CAST(@RiskScore AS NVARCHAR(10))
        + ' | Severity: '                    + @SeverityLevel
        + ' | Transaction status set to: DECLINED';

    SET @InvestigationNotes =
        'Raised by usp_DetectGeoImpossibility via trg_GeoImpossibilityAlert.'
        + CHAR(13)+CHAR(10)
        + '============================================================'
        + CHAR(13)+CHAR(10)
        + 'LOCATION A — Previous Transaction (reference point)'
        + CHAR(13)+CHAR(10)
        + '   txn_id    : ' + CAST(@PrevTransactionID AS NVARCHAR(20))
        + CHAR(13)+CHAR(10)
        + '   Coords    : (' + CAST(@PrevLat AS NVARCHAR(20)) + ', ' + CAST(@PrevLon AS NVARCHAR(20)) + ')'
        + CHAR(13)+CHAR(10)
        + '   Timestamp : ' + CONVERT(NVARCHAR(30), @PrevTimestamp, 120)
        + CHAR(13)+CHAR(10)
        + '   IP Address: ' + ISNULL(@PrevIPAddress, 'N/A')
        + CHAR(13)+CHAR(10)
        + '------------------------------------------------------------'
        + CHAR(13)+CHAR(10)
        + 'LOCATION B — Suspicious Transaction (status = DECLINED)'
        + CHAR(13)+CHAR(10)
        + '   txn_id    : ' + CAST(@NewTransactionID AS NVARCHAR(20))
        + CHAR(13)+CHAR(10)
        + '   Coords    : (' + CAST(@NewLat AS NVARCHAR(20)) + ', ' + CAST(@NewLon AS NVARCHAR(20)) + ')'
        + CHAR(13)+CHAR(10)
        + '   Timestamp : ' + CONVERT(NVARCHAR(30), @NewTimestamp, 120)
        + CHAR(13)+CHAR(10)
        + '   IP Address: ' + ISNULL(@NewIPAddress, 'N/A')
        + CHAR(13)+CHAR(10)
        + '============================================================'
        + CHAR(13)+CHAR(10)
        + 'PHYSICS ANALYSIS'
        + CHAR(13)+CHAR(10)
        + '   Distance       : ' + CAST(@DistanceKm AS NVARCHAR(20))                          + ' km'
        + CHAR(13)+CHAR(10)
        + '   Time Gap       : ' + CAST(@TimeDiffMinutes AS NVARCHAR(20))                     + ' minutes'
        + CHAR(13)+CHAR(10)
        + '   Required Speed : ' + CAST(CAST(@RequiredSpeedKmh AS INT) AS NVARCHAR(20))       + ' km/h'
        + CHAR(13)+CHAR(10)
        + '   Airline Limit  : ' + CAST(CAST(@MaxSpeedKmh AS INT) AS NVARCHAR(20))            + ' km/h'
        + CHAR(13)+CHAR(10)
        + '   Speed Ratio    : ' + CAST(@SpeedRatio AS NVARCHAR(20))                          + 'x airline speed'
        + CHAR(13)+CHAR(10)
        + '   Risk Score     : ' + CAST(@RiskScore AS NVARCHAR(10))
        + CHAR(13)+CHAR(10)
        + '   Severity       : ' + @SeverityLevel
        + CHAR(13)+CHAR(10)
        + '   Action Taken   : Original transaction set to DECLINED.';

END;

GO
/****** Object:  StoredProcedure [dbo].[usp_DetectStructuring]    Script Date: 4/20/2026 6:12:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ============================================================
-- PART 2: STORED PROCEDURE — usp_DetectStructuring
-- ============================================================
-- PURPOSE:
--   Detects Structuring (Smurfing) — multiple transactions
--   individually below the $10,000 CTR threshold whose
--   rolling aggregate breaches it within a time window.
--
-- PARAMETERS:
--   @ThresholdAmount     - regulatory limit  (default $10,000)
--   @MinTransactionCount - minimum txn count (default 2)
--   @WindowHours         - rolling window hrs (default 48)
--   @UserID              - specific user or NULL = all users
--   @RaiseAlert          - 1 = auto-insert into alerts table
-- ============================================================

CREATE   PROCEDURE [dbo].[usp_DetectStructuring]
    @ThresholdAmount        DECIMAL(15,2)   = 10000.00,
    @MinTransactionCount    INT             = 2,
    @WindowHours            INT             = 48,
    @UserID                 INT             = NULL,
    @RaiseAlert             BIT             = 1
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @WindowStart    DATETIME2 = DATEADD(HOUR, -@WindowHours, GETUTCDATE());
    DECLARE @WindowEnd      DATETIME2 = GETUTCDATE();
    DECLARE @AlertsRaised   INT       = 0;

    -- ── STEP 1: Identify suspects ─────────────────────────────
    ;WITH SuspectTransactions AS
    (
        SELECT
            t.user_id,
            t.transaction_id,
            t.card_id,
            t.transaction_amount,
            t.transaction_timestamp,
            t.merchant_id,
            t.ip_address,
            t.device_id
        FROM transactions t
        WHERE
            t.transaction_timestamp BETWEEN @WindowStart AND @WindowEnd
            AND t.transaction_status = 'completed'
            AND t.transaction_amount < @ThresholdAmount
            AND (@UserID IS NULL OR t.user_id = @UserID)
    ),
    AggregatedByUser AS
    (
        SELECT
            st.user_id,
            COUNT(st.transaction_id)        AS transaction_count,
            SUM(st.transaction_amount)      AS total_amount,
            MIN(st.transaction_amount)      AS min_single_txn,
            MAX(st.transaction_amount)      AS max_single_txn,
            AVG(st.transaction_amount)      AS avg_single_txn,
            MIN(st.transaction_timestamp)   AS window_start_txn,
            MAX(st.transaction_timestamp)   AS window_end_txn,
            MAX(st.card_id)                 AS latest_card_id
        FROM SuspectTransactions st
        GROUP BY st.user_id
        HAVING
            COUNT(st.transaction_id)     >= @MinTransactionCount
            AND SUM(st.transaction_amount) >= @ThresholdAmount
    )

    -- ── STEP 2: Result set with full user context ─────────────
    SELECT
        a.user_id,
        u.first_name + ' ' + u.last_name           AS full_name,
        u.email,
        u.risk_profile                              AS current_risk_profile,
        u.country_iso_code,

        -- Pattern summary
        a.transaction_count                         AS txn_count_in_window,
        a.total_amount                              AS aggregate_total,
        @ThresholdAmount                            AS reporting_threshold,
        a.total_amount - @ThresholdAmount           AS amount_over_threshold,
        a.min_single_txn,
        a.max_single_txn,
        a.avg_single_txn,

        -- Window details
        @WindowHours                                AS window_hours,
        a.window_start_txn                          AS first_txn_in_window,
        a.window_end_txn                            AS last_txn_in_window,
        DATEDIFF(MINUTE, a.window_start_txn,
                         a.window_end_txn)          AS span_minutes,

        -- Risk score and severity via shared functions
        dbo.fn_GetStructuringRiskScore(
            a.total_amount, @ThresholdAmount, a.transaction_count
        )                                           AS calculated_risk_score,

        dbo.fn_GetStructuringSeverity(
            a.total_amount, @ThresholdAmount
        )                                           AS severity_level,

        'structuring_aml'                           AS alert_type,
        'Multiple transactions below $'
            + CAST(CAST(@ThresholdAmount AS INT) AS NVARCHAR)
            + ' threshold totaling $'
            + CAST(CAST(a.total_amount AS INT) AS NVARCHAR)
            + ' across '
            + CAST(a.transaction_count AS NVARCHAR)
            + ' transactions in '
            + CAST(@WindowHours AS NVARCHAR)
            + ' hours.'                             AS alert_message,

        a.latest_card_id
    INTO #StructuringSuspects
    FROM AggregatedByUser a
    INNER JOIN users u ON a.user_id = u.user_id;

    -- Show results
    SELECT * FROM #StructuringSuspects
    ORDER BY aggregate_total DESC;

    -- ── STEP 3: Optionally raise alerts ───────────────────────
    IF @RaiseAlert = 1 AND EXISTS (SELECT 1 FROM #StructuringSuspects)
    BEGIN
        INSERT INTO alerts
        (
            transaction_id, card_id, user_id,
            alert_type, risk_score, alert_message,
            alert_status, investigation_notes
        )
        SELECT
            NULL,
            s.latest_card_id,
            s.user_id,
            'structuring_aml',
            s.calculated_risk_score,
            s.alert_message,
            'open',
            'Auto-generated by usp_DetectStructuring. '
            + 'Severity: '      + s.severity_level
            + ' | Window: Last ' + CAST(@WindowHours AS NVARCHAR) + ' hours'
            + ' | Txn Count: '   + CAST(s.txn_count_in_window AS NVARCHAR)
            + ' | Aggregate: $'  + CAST(CAST(s.aggregate_total AS INT) AS NVARCHAR)
        FROM #StructuringSuspects s
        WHERE NOT EXISTS (
            SELECT 1 FROM alerts al
            WHERE  al.user_id     = s.user_id
              AND  al.alert_type  = 'structuring_aml'
              AND  al.alert_status = 'open'
        );

        SET @AlertsRaised = @@ROWCOUNT;
    END

    -- ── STEP 4: Summary output ────────────────────────────────
    SELECT
        COUNT(*)         AS total_suspects_detected,
        @AlertsRaised    AS new_alerts_raised,
        @WindowStart     AS analysis_window_start,
        @WindowEnd       AS analysis_window_end,
        @ThresholdAmount AS threshold_used,
        @WindowHours     AS window_hours_used
    FROM #StructuringSuspects;

    DROP TABLE IF EXISTS #StructuringSuspects;

END;

GO
USE [master]
GO
